.change-passowrd {
  background-color: #f6f8fc;
  height: 100vh;
}
.set-password {
  justify-content: flex-start;
  border-radius: 6px;
  background-color: #fff;
  padding: 16px;
  height: auto;
  margin-top: 59px;
  .inner-form {
    max-width: 416px;
    margin: 0 auto;
    padding: 0 16px;
  }
}
