.plan-pie-graph {
    display: flex;
    border-radius: 10px;
    background-color: #fff;
  .highcharts-container {
      .highcharts-root{
          .highcharts-credits{
              display: none;
          }
      }
  }
}
