.user-goal {
  width: 100%;
  height: 600px;
  padding: 5px;
  border-radius: 10px;
  background-color: #fff;
  .goal-collapse {
    width: 100%;
    background-color: #fff;
    .goal-collapse-inner {
      display: flex;
      flex: 0 0 100%;
      .goal-disc {
        flex: 0 0 50%;
        h5 {
          font-size: 16px;
          color: #888e98;
        }
        p {
          font-size: 16px;
          font-weight: 500;
        }
        a {
          font-size: 16px;
        }
      }
      .goal-allocation {
        flex: 0 0 50%;
        h1 {
          font-size: 18px;
          color: #888e98;
        }
      }
    }
  }
  .mannage-acct {
    padding: 5px;
    height: 100%;
    background-color: #fff;
    h1 {
      font-size: 18px;
      padding: 10px;
    }
  }
  .mannage-assets {
    padding: 5px;
    height: 100%;
    background-color: #fff;
    h1 {
      font-size: 16px;
      padding: 10px;
    }
    .link-account {
      width: 100%;
      height: 100%;
      text-align: center;
      padding-bottom: 30px;
      border-bottom: 1px solid #c4cad3;
      justify-content: center;
      background-color: #fff;
      p {
        font-size: 16px;
        color: #888e98;
      }
      .link-acc-btn {
        color: #2196f3;
        max-width: 200px;
        width: 100%;
        height: 50px;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 40px;
        padding-right: 40px;
        border: 1px solid #2196f3;
        border-radius: 5px;
        height: 40px;
        justify-content: center;
        font-weight: 500;
        font-size: 15px;
      }
    }
  }
}
