.performance-page {
  background-color: #f6f8fc;
  height: 100%;
  width: 100%;
  .performance-inner-div {
    padding: 0 16px;
    margin: 0 auto;
    display: block;
    .performance-nav-pc {
      position: fixed;
      .performance-sidebar-root {
        margin-top: 10px;
        min-width: 220px;
        display: block;
        position: fixed;
        overflow: auto;
        top: 65px;
        bottom: 0;
        background: #fff;
        z-index: 2;
        .sidebar-box {
          margin-top: 17px;
          width: 100%;
          background-color: #fff;
          padding: 24px 0;
          margin: 24px 0;
          .sector-box {
            .per-title {
              padding: 0 24px 24px;
              font-size: 16px;
              color: #1e1e1e;
              font-weight: 700;
            }
            .sector-item-box {
              white-space: nowrap;
              a {
                color: #888e98;
              }
              a:active {
                background-color: #2196f3;
                color: #fff;
              }
              span:active {
                background-color: #2196f3;
                color: #fff;
                a {
                  color: #fff;
                }
              }
              span {
                display: block;
                padding: 24px;
                font-size: 15px;
                font-weight: 500;
                color: #888e98;
                cursor: pointer;
              }
            }
          }
        }
      }
    }
  }
  .performance-graph {
    margin-left: 244px;
    margin-top: 10px;
    .radio-tag-root {
      background: #fff;
      margin-bottom: 16px;
      padding-left: 16px;
      padding-right: 16px;
      padding-top: 12px;
      border-radius: 4px;
      .radio-tag:active {
        background: rgba(33, 150, 243, 0.1);
        border-color: rgba(33, 150, 243, 0.6);
        color: #2196f3;
      }
      .radio-tag {
        display: inline-flex;
        align-items: center;
        white-space: nowrap;
        vertical-align: middle;
        border: 1px solid #d8dce6;
        border-radius: 4px;
        height: 32px;
        line-height: 32px;
        padding: 0 16px;
        background: #fff;
        color: #1e1e1e;
        font-size: 14px;
        cursor: pointer;
        margin-right: 8px;
        margin-bottom: 12px;
      }
    }
    .ant-spin-nested-loading {
      position: relative;
      .site-carder-box-c {
        justify-content: flex-start;
        margin-bottom: 16px;
        border-radius: 6px;
        background-color: #fff;
        padding: 16px;
        height: 100%;
        .statistics-overview-header {
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding-bottom: 6px;
          .statistics-date {
            font-size: 14px;
            font-weight: 600;
            color: #c4cbd6;
          }
        }
        .total-values {
          margin-left: -8px;
          margin-right: -8px;
          position: relative;
          height: auto;
          zoom: 1;
          display: flex;
          box-sizing: border-box;
          h4 {
            font-size: 16px;
            color: #888e98;
          }
          p {
            font-size: 20px;
            font-weight: 600;
          }
          .total-assets {
            background-image: url("../../assets/images/wallet.png");
            display: block;
            box-sizing: border-box;
            width: 33.33333333%;
            padding-left: 56px;
            padding-top: 10px;
            padding-bottom: 10px;
            background-repeat: no-repeat;
            background-size: 44px 44px;
            background-position: 0;
          }
          .total-earning {
            background-image: url("../../assets/images/assets.png");
            display: block;
            box-sizing: border-box;
            width: 33.33333333%;
            padding-left: 56px;
            padding-top: 10px;
            padding-bottom: 10px;
            background-repeat: no-repeat;
            background-size: 44px 44px;
            background-position: 0;
          }
          .total-return {
            background-image: url("../../assets/images/earning.png");
            display: block;
            box-sizing: border-box;
            width: 33.33333333%;
            padding-left: 56px;
            padding-top: 10px;
            padding-bottom: 10px;
            background-repeat: no-repeat;
            background-size: 44px 44px;
            background-position: 0;
          }
        }
      }
    }
    .main-graph-div {
      .total-assets-graph{
        margin-bottom: 20px;
      }
      .total-return-grapgh{
        margin-bottom: 20px; 
      }
    }
  }
}

@media (min-width: 786px) {
  .performance-page {
    width: 100%;
    padding: 0;
    margin: 0 auto;
    .performance-inner-div {
      .performance-nav-pc {
        display: block;
      }
    }
  }
}
