.home-page {
  background-color: #f6f8fc;
  .user-graph {
    display: flex;
    background-color: #f6f8fc;
    flex: 0 0 100%;
    .user-total-assets-graph {
      padding: 10px;
      width: 50%;
    }
    .user-total-return-graph {
      padding: 10px;
      width: 50%;
    }
  }
}
