.activity-page {
  background-color: #f6f8fc;
  height: 140vh;
  .account-activity {
    margin-top: 20px;
    padding: 20px;
    flex: 0 0 100%;
    background-color: #fff;
    .filter-bar {
      display: flex;
      flex: 0 0 100%;
      padding-bottom: 40px;
      h4 {
        padding-bottom: 10px;
      }
      .account-field {
        padding-left: 8px;
        padding-right: 8px;
        display: block;
        box-sizing: border-box;
        float: left;
        width: 25%;
        position: relative;
        min-height: 1px;
        .ant-select {
          width: 100%;
        }
      }
      .type-field {
        padding-left: 8px;
        padding-right: 8px;
        display: block;
        box-sizing: border-box;
        float: left;
        width: 25%;
        min-height: 1px;
        .ant-select {
          width: 100%;
        }
      }
      .start-date {
        padding-left: 8px;
        padding-right: 8px;
        display: block;
        box-sizing: border-box;
        float: left;
        width: 25%;
        min-height: 1px;
        .ant-space {
          width: 100%;
          .ant-space-item {
            .ant-picker {
              width: 100%;
            }
          }
        }
      }
      .end-date {
        padding-left: 8px;
        padding-right: 8px;
        display: block;
        box-sizing: border-box;
        float: left;
        width: 25%;
        min-height: 1px;
        .ant-space {
          width: 100%;
          .ant-space-item {
            .ant-picker {
              width: 100%;
            }
          }
        }
      }
    }
    .activity-table {
      background-color: #fff;
      flex: 0 0 100%;
      .activity-row {
        .account-row {
          width: 18%;
        }
        .volume-row {
          width: 15%;
        }
        .order-row {
          width: 10%;
        }
        .price-row {
          width: 20%;
        }
      }
    }
  }
}

@media (min-width: 320px) and (max-width: 920px) {
  .activity-page {
    height: 100%;
    .account-activity {
      margin-top: 20px;
      padding: 20px;
      flex: 0 0 100%;
      background-color: #fff;
      .filter-bar {
        display: block;
        flex: 0 0 100%;
        padding-bottom: 40px;
        h4 {
          padding-bottom: 10px;
        }
      }
    }
  }
}
